{%extends "blog/base.html"%}
{%load staticfiles%}
<html>
    <head>
        <title>Bowiz2's Blog of Destiny</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static "css/blog.css" %}"">
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div>
            <h1><a href="">Bowiz2's Blog</a></h1>
			{%block content%}
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="{%url "post_detail" pk=post.pk%}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}
			{%endblock content%}
		</div>
    </body>
</html>